BOX_CLIENT_ID=
BOX_CLIENT_SECRET=
BOX_REDIRECT_URI="https://localhost/callback/oauth2/box"
BOX_STATE=
BOX_AUTH_CODE=

BOX_ACCESS_TOKEN=
BOX_REFRESH_TOKEN=
BOX_UPLOAD_FILE_PATH=
BOX_UPLOAD_FOLDER_ID=0
