BOX_AUTH_MODE=oauth2

# OAuth2 Credentials
BOX_OAUTH_CLIENT_ID=
BOX_OAUTH_CLIENT_SECRET=
BOX_OAUTH_REDIRECT_URI="https://localhost/callback/oauth2/box"
BOX_OAUTH_STATE=
BOX_OAUTH_AUTH_CODE=
BOX_OAUTH_ACCESS_TOKEN=
BOX_OAUTH_REFRESH_TOKEN=

# JWT / S2S Credentials
BOX_JWT_CLIENT_ID=
BOX_JWT_CLIENT_SECRET=
BOX_JWT_ENTERPRISE_ID=
BOX_JWT_PUBLIC_KEY_ID=
BOX_JWT_PRIVATE_KEY_PATH=
BOX_JWT_PRIVATE_KEY_PASSPHRASE=

# File Operations
BOX_UPLOAD_FILE_PATH=
BOX_UPLOAD_FOLDER_ID=0

# Token Storage (PDO)
BOX_STORAGE_PDO_DSN=
BOX_STORAGE_PDO_USER=
BOX_STORAGE_PDO_PASS=

# Misc
BOX_JSON_FORMATTER=
