parameters:
	ignoreErrors:






		-
			message: '#^Method Box\\Storage\\Token\\Container\\TokenStorageContainer\:\:storeToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Container/TokenStorageContainer.php

		-
			message: '#^Method Box\\Storage\\Token\\Container\\TokenStorageContainer\:\:updateToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Container/TokenStorageContainer.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:retrieveToken\(\) should return Box\\Connection\\Token\\TokenInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setAdditionalTokenTableData\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setDsn\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setOptions\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setPassword\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setPdo\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php


		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setTokenCompositeKeyMap\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setTokenMap\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setTokenTableName\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setUseCompositeKey\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setUsername\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:storeToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:updateToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php
