parameters:
	ignoreErrors:
		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setCreatedAt\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setCreatedBy\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setDescription\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setEtag\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setId\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setItemStatus\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setModifiedAt\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setModifiedBy\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setName\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setOwnedBy\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setParent\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setSequenceId\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setSharedLink\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setSize\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setSynced\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php

		-
			message: '#^Method Box\\Event\\Collection\\Entry\\Source\\EntrySource\:\:setType\(\) should return Box\\Event\\Collection\\Entry\\Source\\SourceInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Event/Collection/Entry/Source/EntrySource.php


		-
			message: '#^Method Box\\Exception\\TokenStorageException\:\:setCallingClass\(\) should return Box\\Exception\\TokenStorageException but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Exception/TokenStorageException.php

		-
			message: '#^Method Box\\Exception\\TokenStorageException\:\:setPreviousToken\(\) should return Box\\Exception\\TokenStorageException but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Exception/TokenStorageException.php

		-
			message: '#^Method Box\\Exception\\TokenStorageException\:\:setToken\(\) should return Box\\Exception\\TokenStorageException but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Exception/TokenStorageException.php

		-
			message: '#^Method Box\\Exception\\TokenStorageException\:\:setTokenStorage\(\) should return Box\\Exception\\TokenStorageException but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Exception/TokenStorageException.php

		-
			message: '#^Method Box\\Exception\\TokenStorageException\:\:setTokenStorageContext\(\) should return Box\\Exception\\TokenStorageException but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Exception/TokenStorageException.php

		-
			message: '#^Method Box\\Item\\SharedLink\\Permissions\\Permissions\:\:setCanDownload\(\) should return Box\\Item\\SharedLink\\Permissions\\PermissionsInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Item/SharedLink/Permissions/Permissions.php

		-
			message: '#^Method Box\\Item\\SharedLink\\Permissions\\Permissions\:\:setCanPreview\(\) should return Box\\Item\\SharedLink\\Permissions\\PermissionsInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Item/SharedLink/Permissions/Permissions.php






		-
			message: '#^Method Box\\Storage\\Token\\Container\\TokenStorageContainer\:\:storeToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Container/TokenStorageContainer.php

		-
			message: '#^Method Box\\Storage\\Token\\Container\\TokenStorageContainer\:\:updateToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Container/TokenStorageContainer.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:retrieveToken\(\) should return Box\\Connection\\Token\\TokenInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setAdditionalTokenTableData\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setDsn\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setOptions\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setPassword\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setPdo\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php


		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setTokenCompositeKeyMap\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setTokenMap\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setTokenTableName\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setUseCompositeKey\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorageInterface but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:setUsername\(\) should return Box\\Storage\\Token\\Pdo\\TokenStorage but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:storeToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php

		-
			message: '#^Method Box\\Storage\\Token\\Pdo\\TokenStorage\:\:updateToken\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Storage/Token/Pdo/TokenStorage.php
